name: Daily "latest" release

on:
    schedule:
        - cron: "0 3 * * *"   # daily at 03:00 UTC
    workflow_dispatch:

concurrency:
    group: daily-latest-release
    cancel-in-progress: true

permissions:
    contents: write

jobs:
    build:
        uses: KestrelsDevelopment/Workflows/.github/workflows/nix-build.yml@main 
    lint:
        uses: KestrelsDevelopment/Workflows/.github/workflows/nix-lint.yml@main 

    build-and-release:
        runs-on: ubuntu-latest
        needs: [ build, lint ]
        env:
            TARGET_BRANCH: main

        steps:
          - name: Checkout
            uses: actions/checkout@v4
            with:
                fetch-depth: 0

          - name: Install Nix
            uses: cachix/install-nix-action@v31
            with:
                nix_path: nixpkgs=channel:nixos-unstable

          - name: Install jq
            run: sudo apt-get update && sudo apt-get install -y jq

          - name: Build image
            env:
                NIX_CONFIG: "experimental-features = nix-command flakes"
            run: |
                set -euo pipefail
                mkdir -p dist
                chmod +x scripts/create-iso.sh
                ./scripts/create-iso.sh live-boot dist/iso

          - name: Check created files
            id: check_files
            run: |
                iso_files=(dist/iso/*.iso)
                file=${iso_files[0]}

                if [ -z "$file" ]; then
                    echo "fatal: no files were created"
                    exit 1
                fi

                echo "file=$(realpath file)" >> "$GITHUB_OUTPUT"


          - name: "Upload iso file"
            id: upload
            uses: KestrelsDevelopment/Workflows/.github/actions/upload-file@main
            with:
                url: https://nixos-iso.kestrels.dev
                file-path: ${{ steps.check_files.outputs.file }}
                api-key: ${{ secrets.FILE_API_KEY }}
                
          - name: "Read checksum"
            id: checksum
            env: 
                FILE_PATH: ${{ steps.check_files.outputs.file }}
            run: | 
                checksumFile="$FILE_PATH.sha256"
                sha256sum -- "$FILE_PATH" > "$checksumFile"
                echo "checksum_file=$filename" >> "$GITHUB_OUTPUT"

          - name: "Create release"
            uses: KestrelsDevelopment/Workflows/.github/actions/create-release@main
            with:
                name: latest
                body: ${{ steps.upload.outputs.download-url }}
                files: ${{ steps.checksum.outputs.checksum_file }}
